# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -------------------------------
# Virtual Environment
# -------------------------------
venv/
.env/
.env.*

# -------------------------------
# Jupyter / IPython
# -------------------------------
.ipynb_checkpoints/
.profile_default/
.ipython/

# -------------------------------
# VS Code
# -------------------------------
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# -------------------------------

# ----------
